:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Source Sans Pro", sans-serif;
  --font-secondary: "Poppins", sans-serif;

  --color-default: #1a1f24;
  --color-default-rgb: 26, 31, 36;

  --color-links: #f97233;
  --color-links-hover: #fa9160;

  --color-primary: #f97233;
  --color-primary-light: #fb9b6e;
  --color-primary-dark: #e54d07;

  --color-primary-rgb: 249, 114, 51;
  --color-primary-light-rgb: 251, 155, 110;
  --color-primary-dark-rgb: 229, 77, 7;

  --color-secondary: #485664;
  --color-secondary-light: #8f9fae;
  --color-secondary-dark: #3a4753;

  --color-secondary-rgb: 72, 86, 100;
  --color-secondary-light-rgb: 143, 159, 174;
  --color-secondary-dark-rgb: 58, 71, 83;

  --color-blue: #0d6efd;
  --color-blue-rgb: 13, 110, 253;

  --color-indigo: #6610f2;
  --color-indigo-rgb: 102, 16, 242;

  --color-purple: #6f42c1;
  --color-purple-rgb: 111, 66, 193;

  --color-pink: #f3268c;
  --color-pink-rgb: 243, 38, 140;

  --color-red: #df1529;
  --color-red-rgb: 223, 21, 4;

  --color-orange: #fd7e14;
  --color-orange-rgb: 253, 126, 20;

  --color-yellow: #ffc107;
  --color-yellow-rgb: 255, 193, 7;

  --color-green: #059652;
  --color-green-rgb: 5, 150, 82;

  --color-teal: #20c997;
  --color-teal-rgb: 32, 201, 151;

  --color-cyan: #0dcaf0;
  --color-cyan-rgb: 13, 202, 240;

  --color-white: #ffffff;
  --color-white-rgb: 255, 255, 255;

  --color-gray: #6c757d;
  --color-gray-rgb: 108, 117, 125;

  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Cairo", sans-serif;
  text-transform: capitalize;
}
a{
  text-decoration: none;
  color: white;
} 
.header{
  height: 100px;
  background-color: var(--color-blue);
}
.header .container{
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container ul{
  list-style: none;
  display: flex;
}
.header .container ul li{
  padding: 0 30px;
}
.header .logo img{
  width: 120px;
}
.section-one{
  height: calc(100vh - 100px);
  background-color: var(--color-default);
  color: white;
  padding: 30px 0;
}
.section-one .container{
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-one .right{
  max-width: 50%;
}
.section-one .left{
  max-width: 50%;
  float: left;
  background-color: rgba(var(--color-blue-rgb), 0.4);
  padding: 20px;
  border-radius: 6px;
}
.section-one .left form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-one .left form input,
select{
  width: 100%;
  margin: 15px 0;
  height: 40px;
  border: 1px solid var(--color-black);
  border-radius: 6px;
  padding: 6px;
  outline: none;
}
.section-one .left form input:last-child{
  color: var(--color-white);
  font-size: 18px;
}
.section-one .left form textarea{
  margin-top: 15px;
  border: 1px solid var(--color-black);
  border-radius: 6px;
  outline: none;
  padding: 6px;
}
.about-us{
  height: auto;
  background-color: rgba(var(--color-blue-rgb), 0.4);
  padding: 50px 0;
}
.contact-us{
  background-color: var(--color-default);
  color: var(--color-white);
  padding: 15px 0;
}
.service{
  background-color: var(--color-default);
  height: auto;
  padding: 15px 0;
}
.service .container {
  height: inherit;
}
.service .row{
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxs{
  background-color: rgba(var(--color-blue-rgb), 0.4);
  height: 30vh;
  padding: 6px;
  margin: 10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--color-white);
}
.boxs svg{
  font-size: 20px;
  height: 40px;
  width: 40px;
  border: 5px solid #eee;
  padding: 10px;
  border-radius: 50%;
}
.contry{
  height: 60vh;
}
.contry .box{
  width: 250px;
  height: 150px;
  object-fit: cover;
  margin: 0 10px;
  border: 2px solid #333;
  padding: 5px;
  position: relative;
}
.contry .box::after{
  content: attr(attr) ;
  position: absolute;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: #eee;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}
.contry img{
  width: 100%;
  height: 100%;
}
.contry .carousel-item.active{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer{
  padding: 30px 0;
  height: auto;
  background-color: var(--color-default);
  color: var(--color-white);
}
.footer img{
  width: 120px;
}
@media (max-width: 767px) {
.header .container ul li{
  padding: 0 10px;
}
.header .logo img{
  width: 50px;
}
.section-one{
  height: auto;
  background-color: var(--color-default);
  color: white;
  padding: 15px 0;
}
.section-one .container{
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section-one .right{
  max-width: 100%;
}
.section-one .left{
  max-width: 100%;
  float: left;
  background-color: rgba(var(--color-blue-rgb), 0.4);
  padding: 20px;
  border-radius: 6px;
}
.section-one .left form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-one .left form input,
select{
  width: 100%;
  margin: 15px 0;
  height: 40px;
  border: 1px solid var(--color-black);
  border-radius: 6px;
  padding: 6px;
  outline: none;
}
.section-one .left form input:last-child{
  color: var(--color-white);
  font-size: 18px;
}
.section-one .left form textarea{
  margin-top: 15px;
  border: 1px solid var(--color-black);
  border-radius: 6px;
  outline: none;
  padding: 6px;
}
.about-us{
  height: auto;
  background-color: rgba(var(--color-blue-rgb), 0.4);
  padding: 50px 0;
}
.contact-us{
  background-color: var(--color-default);
  color: var(--color-white);
  padding: 15px 0;
}
.service{
  background-color: var(--color-default);
  height: auto;
  padding: 15px 0;
}
.service .container {
  height: inherit;
}
.service .row{
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxs{
  background-color: rgba(var(--color-blue-rgb), 0.4);
  height: 30vh;
  padding: 6px;
  margin: 10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--color-white);
}
.boxs svg{
  font-size: 20px;
  height: 40px;
  width: 40px;
  border: 5px solid #eee;
  padding: 10px;
  border-radius: 50%;
}
.contry{
  height: auto;
}
.contry .box{
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin: 40px 10px;
  border: 2px solid #333;
  padding: 5px;
  position: relative;
}
.contry .box::after{
  content: attr(attr) ;
  position: absolute;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: #eee;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
}

.contry .carousel-item.active{
  height: 80vh; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.footer{
  padding: 15px 0;
  height: auto;
  background-color: var(--color-default);
  color: var(--color-white);
}
.footer img{
  width: 100px;
}
}